/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

/* Standard stuff */
html {
	height: 100%;
}

* 
{
	font-family: "Trebuchet MS",Verdana,Arial,"Lucida Grande";
}

body
{   
	min-height:100%;
    font-size: 1em;
    font-family: "Trebuchet MS",Verdana,Arial,"Lucida Grande";
    margin: 0;
    padding: 0;
}

a 
{
	color:#1541A9;
	text-decoration:none;
}
a:hover
{
    color: #1541A9;
    text-decoration: underline;
}

p 
{
	line-height:1.25em;
	margin:2px;
	padding:0;
	margin-bottom:1em;
	margin-top:1em;
}

strong {font-weight:bold;}
em {font-style:italic;}
small {font-size: 0.85em;color: #666;font-weight: normal;}
small strong {color:#222;font-weight:bold;}
/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    color:#999999;	
    font-weight:bold;
}

h1
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}
h2
{    
	margin:7px 0 0;
	padding-bottom:0;
	font-size:1.333em;
}
h3
{
    font-size: 1.2em;
}
h4
{
    font-size: 1.1em;
}
h5, h6
{
    font-size: 1em;
}

/* input */

button, input[type="submit"]
{
	font-size: 0.95em;
	font-weight:bold;
	color: #333;
	cursor: pointer;
}

input[type=text], 
input[type=password], 
select, 
textarea
{
	color: #444;
	padding: 2px 2px 2px 2px;	
	border: #CCC 1px solid;	
	background:#FFF;
}

/* end input */


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

#container
{
    min-height:100%;
    font-size: 0.75em;
}
html>body #container {
	min-height: 100%;
	height: auto;
}

#header
{
	background:url("../images/topGradient.gif") repeat-x scroll center top transparent;
	height:42px;
	margin-bottom:3px;	
}

#header h1
{	
    font-weight: bold;
    padding: 25px 0px 5px 140px;
    margin: 0;	
    border: none;
    line-height: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px !important;    
}

#main
{    
	position:absolute;
	padding:0;
	margin:0;
	top: 42px;
	left:0px;
	right:0px;
	bottom:0px;
}

#leftColumn 
{	
	position:absolute;
	width:25%;
	top:0px;
	bottom:0px;
	left:0px;
}


#treeContainer 
{
	position:absolute;
	top:0px;
	bottom:150px;
	right:0px;
	left:10px;
}
#treeContainer .boxhead 
{

}
#treeContainer .boxbody 
{

}
#treeContainer .boxfooter 
{
	/* override so there's a gap */
	bottom:10px;
}


#appContainer
{
	height:140px;
	position:absolute;
	bottom:10px;	
	left:10px;
	right:0px;
}

#rightColumn
{
	position:absolute;
	width:75%;	
	top:0px;
	bottom:0px;
	right:0px;	
	background: url(../Images/progressbar.gif) 50% 50% no-repeat;
}

#editorContainer 
{	
	position:absolute;
	top:0px;
	bottom:10px;
	right:10px;	
	left:10px;
}
#editorContainer .boxbody 
{
	height:532px;
}

#contentFrame 
{
	position:absolute;
	width:100%;
	height:100%;
	top:0px;
	left:0px;	
}

.box
{	
	width:auto;
	display:block;
	color: #333;
	padding: 2px 2px 2px 2px;	
	border: #CCC 1px solid;	
	background:#FFF;
}

/* used to absolutely fill an area */
.fill 
{
    position:absolute !important;
	top:0;
	left:0;
	right:0;
	bottom:0;
}

/* context menu definition block */
#ctxMenuDef 
{
	display:none;
	height:0px;
	width:0px;
}

#treeContainer .boxbody 
{
	overflow:auto;
	margin-bottom:10px;
}

/* header buttons */
#header 
{
    display:block;
}
#header .right 
{
	float:right;
	width:50%;
}
#header .left 
{
	width:50%;
}
#header button 
{
	margin:10px 5px;
	height:25px;
	cursor:pointer;
	padding:0px 10px;
}
#header button.create
{
	margin-left:10px;	
	float: left;
}
#header button.create span
{	
	background: url("../images/create.png") no-repeat center left;
	padding-left: 18px;	
	display:block;
}

#header button.logout 
{
	float:right;
}
#header button.logout span
{	
	background: url("../images/logout.png") no-repeat center left;
	padding-left: 18px;	
	display:block;
}
#header button.help 
{
	float:right;
}
#header button.help span
{
	background: url("../images/help.png") no-repeat center left;
	padding-left: 18px;	
	display:block;
}
#header button.about 
{
	float:right;
}
#header button.about span
{
	background: url("../images/about.png") no-repeat center left;
	padding-left: 18px;	
	display:block;
}

/* END header buttons */

/* Search box */
#searchBox 
{
	float: left;
	margin: 8px 5px;
	height: 25px;
}
#searchBox input 
{
	width:300px;
}
/* end search box */

.progress-bar 
{
    width:220px;
    height:29px;
    background:transparent url(../Images/progressbar.gif) no-repeat top left;
}

.progress-spinner 
{
    width:16px;
    height:16px;
    background:transparent url("../Images/throbber.gif") no-repeat top left;
}

/* Tray */

#appContainer .boxbody { overflow:auto; }

#tray
{
	margin: 0px;
	padding:2px;
}

#tray li
{
	list-style-type: none;
	font-size: 37px;
	width: 49px;
	min-height: 36px;
	display: block;
    float: left;
	vertical-align:top;
	padding: 0;
	margin: 0 5px 0 0;
	padding-bottom: 7px;
}

#tray li a
{
	background-repeat: no-repeat;
	text-decoration: none;
	padding: 0;
	margin: 0;
	color: #fff;
	font-size: 1px;
	width: 49px;
	min-height: 36px;
	display: block;
}

#tray li a span
{
	color:#000;
	font-size:9px;
	display:inline-block;
	margin:27px 0 0 0;
	text-align:center;
	width:49px;
	word-wrap:break-word;
}

#tray li a.no-sprite 
{
    background:none;
}
#tray li a.no-sprite img 
{    
    height:24px;
    margin: auto;
    display: block;
}
#tray li a.no-sprite span { margin:3px 0 0 0; }

.tray-holder, 
.tray-icon
{
	border: 0px;
	width: 49px;
	height: 36px;
}

/* End tray */

.right 
{
    float:right;
}

/* about */

#about
{
    text-align: center;
    padding-top: 30px;
}

/* End about */