<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    <sectionGroup name="umbraco">
      <section name="hive" type="Umbraco.Hive.Configuration.HiveConfigSection, Umbraco.Hive" requirePermission="false" restartOnExternalChanges="true" />
      <section name="pluginManager" type="Umbraco.Framework.Configuration.PluginManagerConfiguration, Umbraco.Framework" requirePermission="false" />
      <section name="membership" type="Umbraco.Hive.Providers.Membership.Config.ProviderConfigurationSection, Umbraco.Hive.Providers.Membership" requirePermission="false"/>
      <sectionGroup name="fileSystemProviderSettings">
        <section name="file-uploader" type="Umbraco.Hive.Providers.IO.ConfigSection, Umbraco.Hive.Providers.IO" requirePermission="false" />
        <section name="stylesheets" type="Umbraco.Hive.Providers.IO.ConfigSection, Umbraco.Hive.Providers.IO" requirePermission="false" />
        <section name="scripts" type="Umbraco.Hive.Providers.IO.ConfigSection, Umbraco.Hive.Providers.IO" requirePermission="false" />
        <section name="templates" type="Umbraco.Hive.Providers.IO.ConfigSection, Umbraco.Hive.Providers.IO" requirePermission="false" />
        <section name="partials" type="Umbraco.Hive.Providers.IO.ConfigSection, Umbraco.Hive.Providers.IO" requirePermission="false" />
        <section name="macros" type="Umbraco.Hive.Providers.IO.ConfigSection, Umbraco.Hive.Providers.IO" requirePermission="false" />
        <section name="macro-partials" type="Umbraco.Hive.Providers.IO.ConfigSection, Umbraco.Hive.Providers.IO" requirePermission="false" />
        <section name="stubs" type="Umbraco.Hive.Providers.IO.ConfigSection, Umbraco.Hive.Providers.IO" requirePermission="false" />
      </sectionGroup>
    </sectionGroup> 

    <sectionGroup name="umbraco.cms">      
      <section name="languages" type="Umbraco.Cms.Web.Configuration.Languages.LanguagesConfiguration, Umbraco.Cms.Web" requirePermission="false"/>
      <section name="applications" type="Umbraco.Cms.Web.Configuration.ApplicationSettings.ApplicationConfiguration, Umbraco.Cms.Web" requirePermission="false"/>
      <section name="trees" type="Umbraco.Cms.Web.Configuration.ApplicationSettings.TreeConfiguration, Umbraco.Cms.Web" requirePermission="false"/>
      <section name="dashboard-groups" type="Umbraco.Cms.Web.Configuration.Dashboards.DashboardGroupConfiguration, Umbraco.Cms.Web" requirePermission="false"/>
      <section name="system" type="Umbraco.Cms.Web.Configuration.UmbracoSystem.UmbracoSystemConfiguration, Umbraco.Cms.Web" requirePermission="false" />      
    </sectionGroup>

    <section name="clientDependency" type="ClientDependency.Core.Config.ClientDependencySection, ClientDependency.Core" requirePermission="false"/>

  </configSections>

  <clientDependency configSource="App_Data\Umbraco\Config\ClientDependency.config"/>

  <appSettings>
    <add key="log4net.Config" value="App_Data\Umbraco\Config\log4net.config" />
    <!--<add key="RouteDebugger:Enabled" value="true"/>-->
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  
  <log4net configSource="App_Data\Umbraco\Config\log4net.config" />

  <umbraco>
    <hive configSource="App_Data\Umbraco\Config\umbraco.hive.config" />
    <pluginManager pluginsFolder="~/App_Plugins" shadowCopyFolder="~/App_Plugins/bin" />
    <membership configSource="App_Data\Umbraco\Config\umbraco.membership.config" />
    <fileSystemProviderSettings>
      <file-uploader supportedExtensions="*.jpg;*.gif;*.pdf;*.docx" excludedDirectories=".*" rootPath="~/Content/Media" />
      <stylesheets supportedExtensions="*.css" excludedDirectories=".*" rootPath="~/Content/Styles" />
      <scripts supportedExtensions="*.js" excludedDirectories=".*" rootPath="~/Scripts/Umbraco" />
      <templates supportedExtensions="*.cshtml" excludedDirectories=".*" rootPath="~/Views/Umbraco" />
      <partials supportedExtensions="*.cshtml" excludedDirectories=".*" rootPath="~/Views/Umbraco/Partial" />
      <macros supportedExtensions="*.macro" excludedDirectories=".*" rootPath="~/App_Data/Umbraco/Macros" />
      <macro-partials supportedExtensions="*.cshtml" excludedDirectories=".*" rootPath="~/Views/Umbraco/MacroPartials" />
      <stubs supportedExtensions="*" excludedDirectories=".*" rootPath="~/App_Data/Umbraco/Stubs" />
    </fileSystemProviderSettings>    
  </umbraco>

  <umbraco.cms>
    <languages configSource="App_Data\Umbraco\Config\umbraco.cms.languages.config" />
    <applications configSource="App_Data\Umbraco\Config\umbraco.cms.applications.config" />
    <trees configSource="App_Data\Umbraco\Config\umbraco.cms.trees.config" />
    <dashboard-groups configSource="App_Data\Umbraco\Config\umbraco.cms.dashboards.config" />
    <system configSource="App_Data\Umbraco\Config\umbraco.cms.system.config" />
  </umbraco.cms>

  <connectionStrings>
  </connectionStrings>

  <system.web>
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <!-- Micro-caching technique to ward against peak traffic. "umbraco-default" profile is used by UmbracoController, the default controller used for regular pages -->
          <add name="umbraco-default" duration="1" varyByParam="*" location="ServerAndClient"/>
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    
    <httpRuntime requestValidationMode="2.0" />

    <compilation targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
    </authentication>

    <membership defaultProvider="BackOfficeMembershipProvider">
      <providers>
        <clear/>
        <add name="BackOfficeMembershipProvider" type="Umbraco.Cms.Web.Security.BackOfficeMembershipProvider" passwordFormat="Clear" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
      </providers>
    </profile>

    <roleManager enabled="true" defaultProvider="BackOfficeRoleProvider">
      <providers>
        <clear/>
        <add name="BackOfficeRoleProvider" type="Umbraco.Cms.Web.Security.BackOfficeRoleProvider" />
      </providers>
    </roleManager> 

    <pages validateRequest="false" >
      <namespaces>
        <add namespace="System.Linq" />
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
        <add namespace="ClientDependency.Core" />
        <add namespace="ClientDependency.Core.Mvc" />
        <add namespace="Umbraco.Cms.Web" />
        <add namespace="Umbraco.Cms.Web.Context" />
        <add namespace="Umbraco.Cms.Web.Editors" />
        <add namespace="Umbraco.Cms.Web.EmbeddedViewEngine" />
        <add namespace="Umbraco.Framework"/>
        <add namespace="Umbraco.Hive"/>
        <add namespace="Umbraco.Framework.Localization"/>
        <add namespace="Umbraco.Cms.Web.Model" />
        <add namespace="Umbraco.Cms.Web.Model.BackOffice" />
        <add namespace="Umbraco.Cms.Web.Model.BackOffice.Editors" />
      </namespaces>
    </pages>

    <httpModules>
      <add name="BackOfficeAuthenticationModule" type="Umbraco.Cms.Web.Security.BackOfficeAuthenticationModule, Umbraco.Cms.Web"/>
      <add name="ClientDependencyModule" type="ClientDependency.Core.Module.ClientDependencyModule, ClientDependency.Core"/>
    </httpModules>
    <httpHandlers>
      <add verb="*" path="DependencyHandler.axd" type="ClientDependency.Core.CompositeFiles.CompositeDependencyHandler, ClientDependency.Core "/>
    </httpHandlers>

    <!-- ENABLE THIS TO TEST IN MED TRUST -->
    <!--<trust level="Medium"/>-->
    <trace enabled="false" pageOutput="false" mostRecent="true" traceMode="SortByTime" requestLimit="50"/>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <!-- Disable WebDAV publishing for this application. The Umbraco backoffice uses the DELETE http verb for item deletions, and the default WebDAV configuration returns 405 Method Not Allowed -->
      <remove name="WebDAVModule" />
      <remove name="BackOfficeAuthenticationModule"/>
      <add name="BackOfficeAuthenticationModule" type="Umbraco.Cms.Web.Security.BackOfficeAuthenticationModule, Umbraco.Cms.Web"/>
      <remove name="ClientDependencyModule"/>
      <add name="ClientDependencyModule" type="ClientDependency.Core.Module.ClientDependencyModule, ClientDependency.Core"/>
    </modules>
    <handlers>
      <remove name="DependencyHandler"/>
      <!-- Disable WebDAV publishing for this application. The Umbraco backoffice uses the DELETE http verb for item deletions, and the default WebDAV configuration returns 405 Method Not Allowed -->
      <remove name="WebDAV" />
      <add name="DependencyHandler" preCondition="integratedMode" verb="*" path="DependencyHandler.axd" type="ClientDependency.Core.CompositeFiles.CompositeDependencyHandler, ClientDependency.Core "/>
    </handlers>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="App_Plugins/bin;" />
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.5.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <!-- custom config for the umbraco back office -->
  <location path="Umbraco">
    <system.web>
      <customErrors mode="On" defaultRedirect="Default/Error">
      </customErrors>
    </system.web>
  </location>

</configuration>

