.menu-create
{
	background-position: -7px -339px;
}
.menu-refresh
{
	background-position: -7px -537px;
}
.menu-delete
{
	background-position: -7px -174px;
}
.menu-create-folder
{
	background-position: -7px -108px;
}
.menu-send-translate
{
	background-position: -7px -636px;
}

.menu-empty-bin
{
	background-position: -7px -42px;
}
.menu-translate
{
	background-position: -7px -636px;
}
.menu-save
{
	background-position: -7px -603px;
}
.menu-import-doc-type
{
	background-position: -7px -273px;
}
.menu-export-doc-type
{
	background-position: -7px -240px;
}
.menu-audit
{
	background-position: -7px -6px;
}
.menu-package
{
	background-position: -7px -405px;
}
.menu-move
{
	background-position: -7px -141px;
}
.menu-copy
{
	background-position: -7px -75px;
}
.menu-sort
{
	background-position: -7px -670px;
}
.menu-permissions
{
	background-position: -7px -438px;
}
.menu-protect
{
	background-position: -7px -471px;
}
.menu-rollback
{
	background-position: -7px -570px;
}

.menu-notify
{
	background-position: -7px -372px;
}
.menu-update
{
	background-position: -7px -603px;
}
.menu-publish
{
	background-position: -7px -504px;
}
.menu-send-publish
{
	background-position: -7px -504px;
}
.menu-logout
{
	background-position: -7px -306px;
}
.menu-domain
{
	background-position: -7px -207px;
}
/*
.menu-canvas
{
	background-position: -7px -706px;
}
*/