@model Umbraco.Cms.Web.Model.BackOffice.LoginModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    
    <title>Login Successful</title>
    <link rel="icon" type="image/x-icon" href='@Url.Content("~/Areas/Umbraco/Content/Images/umbracoFavicon.ico")' />
    @{
        Html
           .RequiresCss("ericmeyer.reset.css", "Styles", 0)
           .RequiresCss("Site.css", "Styles", 1)
           .RequiresCss("Panel/style.css", "Modules", 3)
           .RequiresCss("jQueryUI/v4/jquery-ui-umbraco-v4.css", "Modules", 3)
           .RequiresCss("Login.css", "Styles")
           .RequiresCss("Validation.css", "Styles");
    }
    @{
        Html
           .RequiresJs("jQuery/jquery.js", "Scripts", 0)
            .RequiresJs("Base2/base2.js", "Scripts", 0)
           .RequiresJs("Umbraco.System/NamespaceManager.js", "Scripts", 0)
           .RequiresJs("Umbraco.System/Extensions.js", "Scripts", 2)
           .RequiresJs("Umbraco.System/QueryStrings.js", "Scripts", 2)
           .RequiresJs("jQuery/jquery.validate.min.js", "Scripts", 2)
           .RequiresJs("jQuery/jquery.unobtrusive-ajax.min.js", "Scripts", 3)
           .RequiresJs("jQuery/jquery.validate.unobtrusive.min.js", "Scripts", 4)
           .RequiresJs("Umbraco.System/WindowManager.js", "Scripts", 11)
           .RequiresJs("Umbraco.System/UmbracoApplication.js", "Scripts", 20)
           .RequiresJs("Umbraco.System/ClientApiManager.js", "Scripts", 22)
           .RequiresJs("jQuery/jquery-ui-1.8.7.custom.min.js", "Scripts", 30);
           
    }
    @* Render styles/scripts *@
    @Html.Raw(Html.RenderCssHere(Url.GetStylesPath()))
    @Html.Raw(Html.RenderJsHere(new List<IClientDependencyPath>() { Url.GetScriptsPath(), Url.GetModulesPath() }))

    <script type="text/javascript">
        Umbraco.System.WindowManager.getInstance().hideModal({ id: "login-dialog", isGlobal: true });
    </script>
</head>
<body>
    <div id="container" class="login-box">
        <div class="panel fill">
            <img src="../../Content/Images/progressbar.gif" alt="Success!"/>
        </div>
    </div>
</body>
</html>
