@model dynamic
@{
    Layout = "_Layout.cshtml";
}

@section Head {
    @RenderSection("head", false)
}

<div id="editor" class="panel">
    <div class="boxhead">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="boxbody">
        @RenderBody()
    </div>
    <div class="boxfooter">
        <div class="statusBar">
            <h5>
                @ViewBag.Status
            </h5>
        </div>
    </div>
</div>

<script type="text/javascript">
    //this places the cursor on the first available input that is not a button
    (function ($) {
        $("form:first").focusFirst();
    })(jQuery);
</script>