.faqs 
{
	margin:10px;
	padding:10px;	
	background-color:#fcfcfc;
}

.faqs p 
{
	line-height:14px;
}

.faqs .question 
{
	font-size:13px;
	font-weight:normal;
	color:#000;
}

.faqs .category 
{
	font-size:14px;
	font-weight:bold;
	color:#000;
}

.faqs .answer 
{
	font-size:12px;	
	color:#666;
}
.test {
  
}