/* jqModal base Styling courtesy of;
	Brice Burgess <bhb@iceburg.net> */

/* The Window's CSS z-index value is respected (takes priority). If none is supplied,
	the Window's z-index value will be set to 3000 by default (via jqModal.js). */
	
.jqmWindow {
    display: none;
    position: fixed;
    top: 0px;
    left: 50%;
    margin-left: -300px;
    width: 600px;
    background-color: #FFF;
    color: #333;
    border: 1px solid black;
    font-size:0.75em;
}

.modal-overlay  
{
	background: url("Images/overlay-background.gif");
}

/* Background iframe styling for IE6. Prevents ActiveX bleed-through (<select> form elements, etc.) */
* iframe.jqm {position:absolute;top:0;left:0;z-index:-1;
	width: expression(this.parentNode.offsetWidth+'px');
	height: expression(this.parentNode.offsetHeight+'px');
}

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .jqmWindow {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}

/* Umbraco Customizations */

.jqmWindow 
{
	border: 5px #A3A3A3 solid;	
	text-align: left;
}

.jqmWindow .header 
{
	border-bottom: 1px solid #CCC;
	color: #378080;
	cursor: move;
	background: url("Images/modal-gradient.gif") repeat-x bottom white ! important;
	padding: 5px;
	font-size:11px;
	font-weight:bold;
	margin: 0;
	text-align: left;
	display: block;
	height:12px;
}

.jqmWindow .body 
{
	position:absolute;
	top:22px;
	left:0;
	right:0;
	bottom:0;
	overflow:auto;
}

.jqmWindow .modal-close 
{
	display: block;
	position: absolute;
	right: 5px;
	top: 2px;
	padding: 2px 3px;
	font-weight: bold;
	text-decoration: none;
	font-size: 13px;
}

/* CSS classes for Umbraco dialogs */
.jqmWindow.exception
{
	margin-left: -450px;
	height:500px;
	width:900px;
}

.jqmWindow.tree-picker
{
	margin-left: -175px;
	height:400px;
	width:350px;
}

.jqmWindow.implement-section
{
	margin-left: -175px;
	height:200px;
	width:450px;
}

.jqmWindow.define-section
{
	margin-left: -175px;
	height:245px;
	width:450px;
}

.jqmWindow.insert-field
{
	margin-left: -275px;
	height:580px;
	width:550px;
}

.jqmWindow.about
{
	margin-left: -225px;
	height:370px;
	width:450px;
}

.jqmWindow.login
{
	margin-left: -225px;
	height:455px;
	width:450px;
}