
.tree-developer-cache-item {background: transparent url("TreeSprites.png") no-repeat -8px -8px ! important;}
.tree-developer-cache-types {background: transparent url("TreeSprites.png") no-repeat -8px -40px ! important;}
.tree-developer-macro {background: transparent url("TreeSprites.png") no-repeat  -8px -72px ! important;}
.tree-developer-python {background: transparent url("TreeSprites.png") no-repeat  -8px -104px ! important;}
.tree-developer-registry {background: transparent url("TreeSprites.png") no-repeat  -8px -135px ! important;}
.tree-doc {background: transparent url("TreeSprites.png") no-repeat  -8px -199px ! important;}
.tree-doc-2 {background: transparent url("TreeSprites.png") no-repeat  -8px -231px ! important;}
.tree-doc-3 {background: transparent url("TreeSprites.png") no-repeat  -8px -263px ! important;}
.tree-doc-4 {background: transparent url("TreeSprites.png") no-repeat  -8px -295px ! important;}
.tree-doc-5 {background: transparent url("TreeSprites.png") no-repeat  -8px -327px ! important;}
.tree-doc-pic {background: transparent url("TreeSprites.png") no-repeat  -8px -359px ! important;}
.tree-folder {background: transparent url("TreeSprites.png") no-repeat  -8px -391px ! important;}
.tree-folder-open {background: transparent url("TreeSprites.png") no-repeat  -8px -423px ! important;}
.tree-media-file {background: transparent url("TreeSprites.png") no-repeat  -8px -455px ! important;}
.tree-media-movie {background: transparent url("TreeSprites.png") no-repeat  -8px -487px ! important;}
.tree-media-multi {background: transparent url("TreeSprites.png") no-repeat  -8px -519px ! important;}
.tree-media-photo {background: transparent url("TreeSprites.png") no-repeat  -8px -551px ! important;}
.tree-member {background: transparent url("TreeSprites.png") no-repeat  -8px -583px ! important;}
.tree-member-group {background: transparent url("TreeSprites.png") no-repeat  -8px -615px ! important;}
.tree-member-type {background: transparent url("TreeSprites.png") no-repeat  -8px -647px ! important;}
.tree-newsletter {background: transparent url("TreeSprites.png") no-repeat  -8px -679px ! important;}
.tree-package {background: transparent url("TreeSprites.png") no-repeat  -8px -711px ! important;}
.tree-repository {background: transparent url("TreeSprites.png") no-repeat  -8px -743px ! important;}
.tree-agent {background: transparent url("TreeSprites.png") no-repeat  -8px -775px ! important;}
.tree-css {background: transparent url("TreeSprites.png") no-repeat  -7px -807px ! important;}
.tree-css-item {background: transparent url("TreeSprites.png") no-repeat  -7px -839px ! important;}
.tree-data-type {background: transparent url("TreeSprites.png") no-repeat  -8px -871px ! important;}
.tree-data-type-child {background: transparent url("TreeSprites.png") no-repeat  -8px -903px ! important;}
.tree-domain {background: transparent url("TreeSprites.png") no-repeat  -8px -935px ! important;}
.tree-language {background: transparent url("TreeSprites.png") no-repeat  -8px -967px ! important;}
.tree-script {background: transparent url("TreeSprites.png") no-repeat  -8px -999px ! important;}
.tree-template {background: transparent url("TreeSprites.png") no-repeat  -8px -1031px ! important;}
.tree-master-template {background: transparent url("TreeSprites.png") no-repeat  -8px -1222px ! important;}
.tree-viewstart-template {background: transparent url("TreeSprites.png") no-repeat  -8px -1254px ! important;}
.tree-xml {background: transparent url("TreeSprites.png") no-repeat  -8px -1063px ! important;}
.tree-statistic {background: transparent url("TreeSprites.png") no-repeat  -8px -1095px ! important;}
.tree-user {background: transparent url("TreeSprites.png") no-repeat  -8px -1127px ! important;}
.tree-user-group {background: transparent url("TreeSprites.png") no-repeat  -8px -1159px ! important;}
.tree-user-type {background: transparent url("TreeSprites.png") no-repeat  -8px -1191px ! important;}
.tree-new {background: transparent url("TreeSprites.png") no-repeat  -8px -339px;}