@{
    ViewBag.ActiveIndex = 4;
}
<!-- done box -->
<div class="tab main-tabinfo">
    <div class="container">
        <h1>
            You’re done...now what?</h1>
        <p>
            Excellent, you are now ready to start using Umbraco, one of the worlds most popular
            open source .NET CMS.
            <br />
            If you installed a starter kit you can start by configuring your new site, just
            click &quot;Preview your new website&quot; and follow the instructions. Or to start
            adding content right away click &quot;Set up your new website&quot;
        </p>
        <ul class="btn-web">
            <li id="ctl09_customizeSite" class="btn-preview-web"><a href="@Url.Content("~/")" target="_blank"><span>Set up your new website</span></a></li>
            <li class="btn-set"><a href="@Url.Action("App", "Default", new { area = "umbraco" })"><span>Launch umbraco</span></a></li>
        </ul>
    </div>
    <div class="threcol">
        <div class="t">
            &nbsp;</div>
        <div class="hold">
            <aside class="col1">
                <h2>
                    Useful links</h2>
                <p>
                    We’ve put together some useful links to help you get started with Umbraco.</p>
                <nav class="links">
                    <ul>
                        <li><a href="http://umbraco.codeplex.com/documentation" target="_blank">Getting Started
                            Guide</a></li>
                        <li><a href="http://our.umbraco.org?ref=ourFromv5Installer&ver=@UmbracoWebApplication.ProductVersion&amp;ref=@UmbracoWebApplication.ProductVersionInfo">our.umbraco.org</a></li>
                    </ul>
                    <ul>
                        <li><a href="http://our.umbraco.org/wiki?ref=LatestDocsFromInstaller&ver=@UmbracoWebApplication.ProductVersion&amp;ref=@UmbracoWebApplication.ProductVersionInfo">New documentation</a></li>
                        <li><a href="http://our.umbraco.org/projects?ref=LatestProjectsFromv5Installer&ver=@UmbracoWebApplication.ProductVersion&amp;ref=@UmbracoWebApplication.ProductVersionInfo">New Projects</a></li>
                        <li><a href="http://our.umbraco.org/forum?ref=LatesTalkFromv5Installer&ver=@UmbracoWebApplication.ProductVersion&amp;ref=@UmbracoWebApplication.ProductVersionInfo">Forum Talk</a></li>
                    </ul>
                </nav>
            </aside>
            <aside class="col2">
                <h2>
                    Sitebuilder introduction</h2>
                <div id="ajax-sitebuildervids">
                    <small>Loading...</small></div>
            </aside>
            <aside class="col3">
                <h2>
                    Developer introduction</h2>
                <div id="ajax-developervids">
                    <small>Loading...</small></div>
            </aside>
        </div>
    </div>
</div>
<script type="text/javascript">

    @{var googleFeedCacheBuster = DateTime.Now.ToString("yyyyMMddHH");}
    jQuery(document).ready(function () {
        jQuery('#ajax-sitebuildervids').rssfeed('http://umbraco.com/feeds/videos/site-builder-foundation-v5.aspx?buster=@googleFeedCacheBuster&ver=@UmbracoWebApplication.ProductVersion&amp;ref=@UmbracoWebApplication.ProductVersionInfo', {
            limit: 5
        });
        jQuery('#ajax-developervids').rssfeed('http://umbraco.com/feeds/videos/developer-foundation-v5.aspx?buster=@googleFeedCacheBuster&ver=@UmbracoWebApplication.ProductVersion&amp;ref=@UmbracoWebApplication.ProductVersionInfo', {
            limit: 5
        });
    });

</script>